* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
	overflow-x: hidden;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

#disabled {
	border: none;
}

/* ============ BAR ============ */

#black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

#black-bar a {
	color: white;
}

/* ============ CONTAINER ============ */

.fixed-container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

	.fixed-container-center {
		width: 1000px;
		
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

		.fixed-container-special {
			width: 1000px;
			height: 450px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
		}

			.fixed-container-header {
					width: 1000px;
					margin: 0 auto;
					position: relative;
					overflow: hidden;
					height: 170px;
			}

				.fixed-container-footer {
					width: 1000px;
					height: 338px;
					margin: 0 auto;
					position: relative;
					overflow: hidden;
				}

/* ============ DATE and TIME ============ */

	time {
		float: right;
		
	}

/* ============ HEADER ============ */

#header {
	height: 100px;
}

#logo {
	position: absolute;
	top: 40px;
}

#date {
	position: absolute;
	top: 55px;
	left: 290px;
	font-size: 16px;
	color: gray;
}

.time {
	background-image: url('img/icon-time.png');
	background-position: left;
	background-repeat: no-repeat;
	
	padding-left: 25px;
	display: inline-block;

	position: absolute;
	left: 437px;
	top: 55px;

	font-size: 16px;
	color: #91919f;
}

	.weather {
		background-image: url('img/cloudy.png');
		background-position: left;
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding-left: 35px;
		display: inline-block;

		position: absolute;
		left: 530px;
		top: 53px;

		font-size: 16px;
		color: #91919f;
	} 

#search {
	float: right;
	margin-top: 40px;
	padding: 15px 180px 15px 15px;
	border: none;
	border-radius: 23px;
	background-color: #ebebeb;
	opacity: 0.6;
	outline: none;
	font-size: 14px;
}

	.search-button {
		position: absolute;
		right: 0;
		top: 55px;
		margin-right: 20px;

		background-color: transparent;
		background-image: url('img/search-logo.png');
		background-size: 100%;
		background-repeat: no-repeat;
		border: none;
		width: 16px;
		height: 16px;
		outline: none;
		cursor: pointer;
	}

	.select-wrapper {
		display: inline-block;
		position: relative;
		left: 180px;
		top: 55px;
		font-size: 0;
	  }
		  
	  	.select-wrapper::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 15px;
			height: 1px;
			border-bottom: 1px dashed #448ccb;
	 	 }

	 		 .custom-select {
				border: 0;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				font-size: 16px;
				color: #448ccb;
				padding-right: 15px;
				background: url('img/down-arrow.png') 100% center no-repeat;
				background-size: 9px 5px;

				outline: none;
	  }

/* ============ MENU ============ */

#menu-container {
	height: 70px;
}

.menu-text {
	position: relative;
	top: 15px;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

.menu-slash {
	height: 70px;
}

 .menu-slash a:after {
	content: "/";
	margin: 0 10px;
	opacity: .3;
	color: gray;
	padding: 0 1.5px;
	font-size: 20px;
} 


.menu-slash a:last-child:after {
	content: "";
}

/* ============ COLUMN LEFT ============ */

#column-left {
	background-color: #fff;
	width: 250px;
	height: 845px;
	float: left;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.096);
}

	.news-item {
		padding-left: 18px;
		margin-bottom: 15px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
		font-size: 14px;
		letter-spacing: 0.35px;
		font-weight: 400;
		line-height: 20px;
	}

	.news-item-props {
		font-size: 12px;
		position: relative;
	}

		.news-item-props a {
			color: #91919f;
			text-decoration: none;
		}

		.news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/clock.png');
			background-repeat: no-repeat;

			font-size: 12px;
		}

		.news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;

			font-size: 12px;
		}

			#btn {
				display: inline-block;
				text-align: center;
				padding: 15px 50px;
				background-color: #fff;
				border-radius: 23px;
				border: 1px solid #448ccd;
				color: #448ccb;
				cursor: pointer;
				position: relative;
				left: 35px;
				outline: none;
				

				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.28px;

				transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) 0.25s;
			}

			#btn:hover {
				background-color: #448ccb;
				color: #fff;
			}

/* ============ COLUMN CENTER ============ */

#column-center {
	width: 480px;
	
	height: 775px;
	margin-left: 20px;
	float: left;
	background-repeat: no-repeat;
}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

#central-container .fixed-container {
	overflow-y: hidden;
}

#global-news {
	position: relative;
	bottom: 15px;
	transform: scale(1);
	margin-bottom: 20px;
}

	#global-text {
		font-size: 30px;
		font-weight: 600;
		line-height: 35px;
		position: relative;
		bottom: 215px;
		left: 25px;

		color: #fff;
	}
		
		#global-news-date {
			font-size: 12px;
			color: #fff;
			position: relative;
			bottom: 205px;
			left: 25px;
		}

			#global-news-time {
				font-size: 12px;
				color: #fff;
				position: relative;
				bottom: 218px;
				left: 130px;
			}

				#global-news-topic {
					color: #fff;
					font-size: 12px;
					position: relative;
					left: 28px;
					bottom: 380px;
				}

.news__items {
	width: 100%;
}

.news__item {
	list-style-type: none;
	float: left;
	position: relative;
	bottom: 160px;

	margin-bottom: 20px;
}

.news__image {
	padding-bottom: 9px;
}

.news__item:nth-child(2n) {
	padding-right: 19px;
}

.news__item__global {
	list-style-type: none;
	display: inline-block;
	height: 262px;
}

.news__title { 

	color: #000;

	font-size: 14px;
	font-weight: 700;
	padding-bottom: 15px;


	letter-spacing: -0.28px;
}

.news__props {
	display: inline;

}

.news__topic {

	opacity: 0.8;
	color: #91919f;

	font-size: 12px;
	font-weight: 400;
	float: left;


	letter-spacing: -0.24px;
}

.news__time {

color: #000;

font-size: 12px;
font-weight: 400;



letter-spacing: -0.24px;
}

.news__time::before {
	content: "";
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
}

.news__commentscount {
color: #000;

font-size: 12px;
font-weight: 400;




letter-spacing: -0.24px;
}

.news__clock {
	padding-left: 9px;
}

.news__comment {
	padding-left: 19px;
}

#news__3 {
	height: 142px;
	width: 221px;
}

/* ============ COLUMN RIGHT ============ */

#column-right {
	width: 250px;
	height: 845px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

	#column-right img {
		margin-bottom: 20px;
	}

/* ============ SPECIAL NEWS ============ */
	
#special-news {
	margin-top: 20px;
	height: 400px;
}

	#special-news-text {
		font-size: 30px;
		font-weight: 600;
		line-height: 35px;
		color: #fff;
		margin-left: 20px;
		position: relative;
		bottom: 650px;
	}

		#special-news-shadow {
			position: relative;
			bottom: 396px;
		}

			#special-news-topic {
				font-size: 12px;
				margin-left: 20px;
				color: #fff;
				position: relative;
				bottom: 790px;
			}

				#special-news-date {
					font-size: 12px;
					margin-left: 20px;
					color: #fff;
					position: relative;
					bottom: 650px;
				}

					#special-news-time {
						font-size: 12px;
						margin-left: 20px;
						color: #fff;
						position: relative;
						bottom: 665px;
						left: 115px;
					}

						#special-news-time-img {
							position: relative;
							bottom: 680px;
							left: 120px;
						}

							#special-desc {
								font-size: 14px;
								line-height: 20px;
								letter-spacing: -0.28px;
								color: #fff;
								opacity: 0.7;
								margin-left: 20px;
								position: relative;
								bottom: 660px;
							}

.list {
	width: 412px;
	height: 394px;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
	position: relative;
	left: 588px;
	bottom: 400px;
}

.list h2 {
	margin-bottom: 0;
}

.list-item {
	display: list-item;
	list-style: none;
	margin-top: 20px;
}

	.list-item-text {
		margin-bottom: 15px;
		margin-left: 20px;
		font-size: 16px;
		letter-spacing: -0.32px;
		font-weight: 600;
		line-height: 22px;
	}

		.list-item-props {
			font-size: 12px;
			position: relative;
			margin-left: 20px;
			margin-bottom: 30px;
		}

			.list-item-props a {
				color: #91919f;
				text-decoration: none;
			}

				.list-time {
					position: absolute;
					top: 0;
					left: 75px;
					padding-left: 15px;
					background-image: url('img/clock.png');
					background-repeat: no-repeat;

					font-size: 12px;
				}

					.list-comments-count {
						position: absolute;
						top: 0;
						left: 135px;
						padding-left: 15px;
						background-image: url('img/icon-comments.png');
						background-repeat: no-repeat;

						font-size: 12px;
					}

/* ============ FOOTER ============ */

#footer {
	width: 100%;
	height: 338px;
	background-color: #00122f;
	overflow: hidden;
}

#footer #footer-menu {
	list-style: none;
	columns: 2;
	width: 200px;
	column-gap: 65px;
}

	#footer-menu {
		position: relative;
		
		top: 57px;
		
	}

		.footer-menu-item {
			text-decoration: none;
			color: #fff;
			font-size: 16px;
			line-height: 35px;
			letter-spacing: -0.32px;
			font-weight: 400;
		}

		.footer-menu-item:hover {
			text-decoration: underline;
		}

			#footer-menu-2 {
				position: relative;
				bottom: 145px;
				left: 150px;
			}

#footer-center-img {
	position: absolute;
	top: 65px;
	right: 520px;
}

	#footer-center-text {
		color: #fff;
		letter-spacing: -0.28px;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: -0.28px;
		position: absolute;
		top: 68px;
		right: 435px;
	}

		#footer-center-menu {
			position: absolute;
			top: 120px;
			right: 390px;
		}

	#vk {
		position: absolute;
		top: 70px;
		right: 200px;
		cursor: pointer;
	}

	.ellipse-1 {
		position: absolute;
		top: 55px;
		right: 189px;
		border: 1px solid #fff;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		cursor: pointer;

		transition: 0.5s;
	}
	
		.ellipse-1:hover {
			background-color: #fff;
			opacity: 0.5;
		}

	#fb {
		position: absolute;
		top: 65px;
		right: 140px;
		cursor: pointer;
	}

		.ellipse-2 {
			position: absolute;
			top: 55px;
			right: 125px;
			border: 1px solid #fff;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			cursor: pointer;

			transition: 0.5s;
		}

			.ellipse-2:hover {
				background-color: #fff;
				opacity: 0.5;
			}

	#twitter {
		position: absolute;
		top: 67px;
		right: 75px;
		cursor: pointer;
	}

		.ellipse-3 {
			position: absolute;
			top: 55px;
			right: 65px;
			border: 1px solid #fff;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			cursor: pointer;

			transition: 0.5s;
		}

			.ellipse-3:hover {
				background-color: #fff;
				opacity: 0.5;
			}

	#ig {
		position: absolute;
		top: 65px;
		right: 14px;
		cursor: pointer;
	}

		.ellipse-4 {
			position: absolute;
			top: 55px;
			right: 4px;
			border: 1px solid #fff;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			cursor: pointer;

			transition: 0.5s;
		}

			.ellipse-4:hover {
				background-color: #fff;
				opacity: 0.5;
			}

#tele {
	position: absolute;
	top: 135px;
	right: 215px;
}

	#telephone {
		position: absolute;
		top: 133px;
		right: 50px;

		font-size: 18px;
		font-weight: 400;
		letter-spacing: -0.36px;
		text-decoration: none;
		color: #fff;
	}

#mail {
	position: absolute;
	top: 185px;
	right: 215px;
}

	#mailto {
		position: absolute;
		top: 180px;
		right: 70px;

		font-size: 18px;
		font-weight: 400;
		text-decoration: none;
		color: #fff;
	}

.shape {
	width: 100%;
	border: 1px solid #fff;
	opacity: .15;
	position: absolute;
	top: 1880px;
}

#footer-down-text {
	position: absolute;
	top: 305px;
	left: 350px;

	color: #fff;
	font-size: 14px;
	opacity: 0.4;
	letter-spacing: -0.28px;
}